.inactive{
    width: 80px !important;
}
.side-menu.inactive .top-section .toogle-menu .btn{
    right: -70px !important;
}    
.side-menu.inactive .main-menu .list span{
    opacity: 0;
    display: none;
}
.side-menu.inactive .side-menu-footer .user-info{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}
.Dashboard.inactive{
    margin-left: 80px !important;
}
/* .Dashboard.inactive .Dashboard-Nav{
    width: 100% !important;
    display: block;
}
.Dashboard.inactive .Dashboard-Nav h1{


} */
